<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="cal">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
              <h1></h1>
              <p></p>
            </div>
            <i class="fas fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days"></div>
        </div>
      </div>

      
<div id="available-desk">
    <div id="buttons">
          <button id="button1">Office 1</button>
        <button id="button2">Office 2</button>
        <button id="button3">Office 3</button>
        <button id="button4">Office 4</button>
        <button id="button5">Office 5</button>
        <button id="button6">Office 6</button>
    </div>
    <div id="desknumber">Available Desk</div>
    <div id="number">
        <div class="one">1</div>
        <div  class="two">2</div>
        <div  class="three">3</div>
        <div  class="four">4</div>
    
    </div>
    
      
    </div> 

    <div id="total-booking">
      <div id="total-text">Total Booking</div>
      <div id="total">30</div>
      <a href="booking.html">
      <div id="view-booking">View Booking</div>  
      </a>  
    </div> 

    <a href="profile.html">
    <div class="admin" href="profile.html">
      <img id="logo" src="./images/cat.png" alt=" ">
        <div>
            <p class="name">John Doe Meng</p>
            <p class="administrator">Administrator</p>
        </div>
    </div>
    </a>  

    <input type="checkbox" id="check" class="hide">
    <div class="container">
        <label for="check">
            <i class="fas fa-angle-left" id="arrow" onclick="toggleLogo()"></i>

            <img id="main-logo" src="./images/logo.png" alt=" " style="width:100px;position: absolute;left:60px;margin-top: 20px;">

           

        </label>

        <ol class="navbar" style="margin-top: 130px;">   
          <li><a href="#" style="background-color: #83bfe0;"><i class="fas fa-home"></i><p>home</p></a><span>home</span></li>
          <li><a href="booking.html"><i class="fa fa-book"></i><p>booking</p></a><span>booking</span></li>
          <li><a href="officemap.html"><i class="fa fa-map"></i><p>map</p></a><span>office map</span></li>

          <div style="border: 1px solid rgb(150, 144, 144);margin-top: 10px;"></div>

          <li><a href="manageuser.html" style="margin-top: 20px;"><i class="fa fa-users"></i><p>user</p></a><span style="margin-top: 20px;">manage user</span></li>
          <li><a href="managedesk.html"><i class="fa fa-desktop"></i><p>desk</p></a><span>manage desk</span></li>

          <div style="border: 1px solid rgb(150, 144, 144);margin-top: 10px;"></div>

          <li><a href="role.html" style="margin-top: 20px;"><i class="fa fa-tasks"></i><p>role</p></a><span style="margin-top: 20px;">manage role</span></li>

          <div style="border: 1px solid rgb(150, 144, 144);margin-top: 10px;"></div>

          <li><a href="#" style="margin-top: 20px;"><i class="fa fa-cogs"></i><p>guide</p></a><span style="margin-top: 20px;">user guide</span></li>
          <li><a href="faqs.html"><i class="fa fa-question-circle"></i><p>FAQs</p></a><span>FAQs</span></li>
        </ol>
    </div>
    <section></section>


    
</body>
<script>
    function toggleLogo() {
        var logo = document.getElementById("main-logo");
        logo.classList.toggle("flipped");
        
        var currentImage = logo.src;

        if (currentImage.endsWith("/images/logo.png")) {
            logo.src = "./images/logoname.png";
            logo.style.width='210px';
            logo.style.marginLeft='10px';
          
        } else {
            logo.src = "./images/logo.png";
            logo.style.width='100px';
            logo.style.marginLeft='0px';
            
        }
    }
    const date = new Date();

const renderCalendar = () => {
  date.setDate(1);

  const monthDays = document.querySelector(".days");

  const lastDay = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDate();

  const prevLastDay = new Date(
    date.getFullYear(),
    date.getMonth(),
    0
  ).getDate();

  const firstDayIndex = date.getDay();

  const lastDayIndex = new Date(
    date.getFullYear(),
    date.getMonth() + 1,
    0
  ).getDay();

  const nextDays = 7 - lastDayIndex - 1;

  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  document.querySelector(".date h1").innerHTML = months[date.getMonth()];

  document.querySelector(".date p").innerHTML = new Date().toDateString();

  let days = "";

  for (let x = firstDayIndex; x > 0; x--) {
    days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
  }

  for (let i = 1; i <= lastDay; i++) {
    if (
      i === new Date().getDate() &&
      date.getMonth() === new Date().getMonth()
    ) {
      days += `<div class="today">${i}</div>`;
    } else {
      days += `<div>${i}</div>`;
    }
  }

  for (let j = 1; j <= nextDays; j++) {
    days += `<div class="next-date">${j}</div>`;
    monthDays.innerHTML = days;
  }
};

document.querySelector(".prev").addEventListener("click", () => {
  date.setMonth(date.getMonth() - 1);
  renderCalendar();
});

document.querySelector(".next").addEventListener("click", () => {
  date.setMonth(date.getMonth() + 1);
  renderCalendar();
});

renderCalendar();

 
</script>
</html>