@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #83bfe0;
}

.container {
    width: 100%;
    min-height: 100%;
    max-width: 220px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.container .imgbox {
    position: relative;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    z-index: -1;


}

.container .imgbox img {

    width: 100%;
    height: 80%;
    object-fit: cover;
    padding: 5px;
    border-radius: 12px;

}

.container .navbar {
    width: 100%;
    padding: 0 10px;
    list-style: none;
}



.container .navbar li {
    width: 100%;
    display: inline-flex;
    margin: 5px 0;
}

.container .navbar li a {
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    text-transform: capitalize;
    color: #3b3b3b;
    padding: 5px 8px;
    border-radius: 10px;
}

.container .navbar li:hover a {
    background: #009cff;
    color: #fff
}

.container .navbar li a i {
    margin: auto 0;
    font-size: 20px;
    width: 40px;
    text-align: center;
}

.container .navbar li a p {
    font-size: 20px;
    transform: scale(1);
    transform-origin: left;
    transition: 0.3s;

}

#check:checked~.container .navbar li a p {
    transform: scale(0);

}


.hide {

    display: none;
    visibility: hidden;
}

.container label #arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: -15px;
    font-size: 25px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    top: 100px;
    border-radius: 50px;
    color: #009cff;
    transition: 0.3s;
}

#check:checked~.container label #arrow {
    transform: rotate(180deg);
}

#check:checked~.container {
    max-width: 60px;
}

#check:checked~.container .navbar li a .fa-user,
#check:checked~.container .navbar li a .fa-gripfire,
#check:checked~.container .navbar li a .address-book,
#check:checked~.container .navbar li a .fa-heart {
    margin-left: 3px;
}

.container .navbar li span {
    position: absolute;
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 5px 8px;
    text-transform: capitalize;
    color: #466fa8;
    transition: 0.2s;
    transform: translateX(100px);
    left: 80px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

#check:checked~.container .navbar li:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateX(-12px);
}

.container .navbar li span:before {
    position: absolute;
    content: '';
    border: 8px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);


}



#check:checked~section {
    filter: brightness(100%);
}


#main-logo {
    transition: transform 0.6s;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.flipped {
    animation: flip 0.6s ease;
    transform: rotateY(180deg);
}



.background-section {
    height: 85vh;
    width: 90vw;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

/* FAQS na malupet */
.faqs-section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 85vh;
    width: 70%;
    margin: auto;
    overflow-y: auto;
    position: absolute;
    margin-top: 150px;
    
   
}

.faqs-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.faq-item {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.faq-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    margin-left: 24px;
    display: flex;
}

.faq-item p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: none;
    margin-left: 24px;
    text-align: justify;
}