@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #83bfe0;
}

.container{
    width:100%;
    min-height: 100%;
    max-width: 220px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position:absolute;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.container .imgbox{
    position: relative;
    height:120px;
    width:100%;
    margin-bottom: 20px;
    z-index: -1;


}
.container .imgbox img{
    
    width:100%;
    height:80%;
    object-fit: cover;
    padding:5px;
    border-radius: 12px;

}
.container .navbar{
    width:100%;
    padding: 0 10px;
    list-style: none;
}



.container .navbar li{
    width: 100%;
    display: inline-flex;
    margin: 5px 0;
}
.container .navbar li a{
    width: 100%;
    display: inline-flex;
    text-decoration: none;
    text-transform: capitalize;
    color:#3b3b3b;
    padding:5px 8px;
    border-radius: 10px;
}
.container .navbar li:hover a{
    background: #009cff;
    color:#fff
}
.container .navbar li a i{
    margin: auto 0;
    font-size: 20px;
    width: 40px;
    text-align: center;
}
.container .navbar li a p{
    font-size: 20px;
    transform: scale(1);
    transform-origin: left;
    transition: 0.3s;

}
#check:checked ~ .container .navbar li a p{
    transform: scale(0);

}


.hide{
   
    display: none;
    visibility: hidden;
}
.container label #arrow{
    position: absolute;
    width:35px;
    height:35px;
    line-height: 35px;
    right: -15px;
    font-size: 25px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    text-align: center;
    top: 100px;
    border-radius: 50px;
    color:#009cff;
    transition: 0.3s;
}
#check:checked ~ .container label #arrow{
    transform: rotate(180deg);
}
#check:checked ~ .container{
    max-width: 60px;
}

#check:checked ~ .container .navbar li a .fa-user,
#check:checked ~ .container .navbar li a .fa-gripfire,
#check:checked ~ .container .navbar li a .address-book,
#check:checked ~ .container .navbar li a .fa-heart{
    margin-left: 3px;
}
.container .navbar li span{
    position: absolute;
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 5px 8px;
    text-transform: capitalize;
    color:#009cff;
    transition: 0.2s;
    transform: translateX(100px);
    left:80px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
}
#check:checked ~ .container .navbar li:hover span{
    visibility: visible;
    opacity: 1;
    transform: translateX(-12px);
}
.container .navbar li span:before{
    position: absolute;
    content: '';
    border: 8px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left:-14px;
    top:50%;
    transform: translateY(-50%);


}
section{
    height:100vh;
    width: 100vw;
 
    background-size: cover;
    background-position: center;
    filter:brightness(96%);
    z-index: 0;
    transition: 0.2s ease;
}
#check:checked ~ section{
    filter: brightness(100%);
}


#main-logo {
    transition: transform 0.6s;
}
@keyframes flip{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

.flipped {
    animation: flip 0.6s ease;
    transform: rotateY(180deg);
}
#logoname{
    width:100px;
    height:auto;
}

.admin {
    background-color: #F5F5F5;
    color: rgb(0, 0, 0);
     border: 1px solid rgb(70, 68, 68);
    padding: 8px 8px;
    text-decoration: none;
    margin-left: 88%;
    border-radius: 5px;
    display: flex;
    cursor: pointer;

    margin-left: 89%;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
    
}
#logo{
    width: 25px;
    height: 25px;
    margin-left: 2px;

}
.name{
    padding-left: 6px;font-size: 12px;
}
.administrator{
    padding-left: 20px;font-size: 9px;
}







@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: rgba(248, 234, 234, 0.333);
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    margin-top: 20px;
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
    
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
 
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
    
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #466fa8;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #1c2c42;
}

thead th:hover {
    color: #1c2c42;
}

thead th.active span.icon-arrow{
    background-color: #2b4263;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #1c2c42;
}




